<!DOCTYPE html>
<html>
    <head>
        <title>{{titleHead}}</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="icon" href="/images/images.png" type="image/jpg"/>
    </head>
    <body>
        <div class="divHead">
            {{>header}}
            <p>{{errorMessage}}</p>
        </div>
        {{>footer}}
    </body>
</html>