<!DOCTYPE html>
<html>
    <head>
        <title>{{titleHead}}</title>
                <title>{{titleHead}}</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/images/images.png" type="image/jpg"/>
    </head>
    <body>
        <div class="divHead">
            {{>header}}
            <div class="divImg">
                <img src="images/Lucas(3x4).jpg">
            </div>
            <p>Criado pelo {{name}}</p>
        </div>
        {{>footer}}
    </body>
</html>